*{
    margin:0px ;
    padding:0px;
    box-sizing: border-box;
}




header{
    display:flex;
    justify-content: center;
    h1{
        text-align: center;
        font-size: 5rem;;
    }

}

main{
    display:flex;
    justify-content: center;
    width:100%;
    height:100vh;
    margin-left:3rem;
    flex-wrap: wrap;
    flex-basis:1000px;
    margin-left: 0.5rem;
    
    div.javascript{
        width:33%;
        img{
            width:350px;
            height:30vh;
            margin: 2rem;
        }
        p{
            text-align: left;
            margin-left:2.5rem;
        }
    }
    div.python{
        width:33%;
        img{
            width:350px;
            height:30vh;
            margin: 2rem;
        }
        p{
            text-align: left;
            margin-left:2.5rem;
        }
        
    }

    div.sql{
        width:33%;
        img{
            width:350px;
            height:30vh;
            margin: 2rem;
        }
        p{
            text-align: left;
            margin-left:2.5rem;
        }
       
    }


    div.datastructure{
        width:33%;
        img{
            width:350px;
            height:30vh;
            margin: 2rem;
        }
        p{
            text-align: left;
            margin-left:2.5rem;
        }
    }



    div.discrete{
        width:33%;
        img{
            width:350px;
            height:30vh;
            margin: 2rem;
        }
        p{
            text-align: left;
            margin-left:2.5rem;
        }
    }

    div.algebra{
        width:33%;
        img{
            width:350px;
            height:30vh;
            margin: 2rem;
        }
        p{
            text-align: left;
            margin-left:2.5rem;
        }
    }
}


@media screen and (max-width:800px){

    header{
        h1{
            margin-left: 3.5rem;
        }
    }
    main{
      width:100%;
      div.javascript{
        width:100%;
        img{
            width:100%;
            height:30vh;
        }
      }

      div.python{
        width:100%;
        img{
            width:100%;
            height:30vh;
        }
      }

      div.sql{
        width:100%;
        img{
            width:100%;
            height:30vh;
        }
      }

      div.datastructure{
        width:100%;
        img{
            width:100%;
            height:30vh;
        }
      }

      div.discrete{
        width:100%;
        img{
            width:100%;
            height:30vh;
        }
      }

      div.algebra{
        width:100%;
        img{
            width:60%;
            height:30vh;
        }
      }
    
    }

}